- type: mqtt
  host: core-mosquitto
  port: 1883
  client_id: marstek-bridge
  base_topic: marstek
  discovery_prefix: homeassistant
  retain: true
  qos: 0

- type: modbus
  mode: tcp
  host: 192.168.178.42
  port: 502
  unit_id: 1

- name: battery_soc
  type: poller
  address: 32104
  modbus_type: holding
  data_type: uint16
  unit: "%"
  device_class: battery
  state_class: measurement

- name: battery_power
  type: poller
  address: 32103
  modbus_type: holding
  data_type: int16
  unit: "W"
  device_class: power
  state_class: measurement

- name: battery_voltage
  type: poller
  address: 32100
  modbus_type: holding
  data_type: uint16
  scale: 0.01
  unit: "V"
  device_class: voltage

- name: battery_current
  type: poller
  address: 32101
  modbus_type: holding
  data_type: int16
  scale: 0.01
  unit: "A"
  device_class: current

- name: battery_temp
  type: poller
  address: 32108
  modbus_type: holding
  data_type: uint16
  scale: 0.1
  unit: "°C"
  device_class: temperature

- name: ac_voltage
  type: poller
  address: 32200
  modbus_type: holding
  data_type: uint16
  scale: 0.1
  unit: "V"
  device_class: voltage

- name: ac_current
  type: poller
  address: 32202
  modbus_type: holding
  data_type: int16
  scale: 0.01
  unit: "A"
  device_class: current

- name: ac_power
  type: poller
  address: 32203
  modbus_type: holding
  data_type: int16
  unit: "W"
  device_class: power

- name: ac_freq
  type: poller
  address: 32204
  modbus_type: holding
  data_type: uint16
  scale: 0.1
  unit: "Hz"

- name: temp
  type: poller
  address: 33000
  modbus_type: holding
  data_type: uint16
  scale: 0.1
  unit: "°C"
  device_class: temperature  

- name: temp_MOS1
  type: poller
  address: 33001
  modbus_type: holding
  data_type: uint16
  scale: 0.1
  unit: "°C"
  device_class: temperature  

- name: temp_MOS2
  type: poller
  address: 33002
  modbus_type: holding
  data_type: uint16
  scale: 0.1
  unit: "°C"
  device_class: temperature  

- name: temp_max_cell
  type: poller
  address: 35010
  modbus_type: holding
  data_type: uint16
  scale: 0.1
  unit: "°C"
  device_class: temperature  

- name: temp_min_cell
  type: poller
  address: 35011
  modbus_type: holding
  data_type: uint16
  scale: 0.1
  unit: "°C"
  device_class: temperature    

# Writer-Register
- name: soc_target
  type: writer
  address: 42011
  modbus_type: holding
  data_type: uint16

- name: force_charge_mode
  type: writer
  address: 42010
  modbus_type: holding
  data_type: uint16

- name: force_charge_power
  type: writer
  address: 42020
  modbus_type: holding
  data_type: uint16

- name: force_discharge_power
  type: writer
  address: 42021
  modbus_type: holding
  data_type: uint16
